extends ../layout

block content
  h1 Membros
  div.ui.grid
    div.row
      a.ui.positive.button.right.floated(href=h.adminUrl('members/add')) Adicionar membro
    div.row
      table.ui.celled.table
        thead
          tr
            th Nome
            th E-mail
            th Ações
        tbody
          each member in members
            tr
              td= member.name
              td= member.email
              td.center.aligned
                a.ui.icon.button.labeled.right.primary(href=h.adminUrl(`members/${member.id}/edit`))
                  i.edit.icon
                  | Editar
                a.ui.icon.button.labeled.right.red(href=h.adminUrl(`members/${member.id}/remove`))
                  i.trash.icon
                  | Remover

