extends ../layoutBlank
block styles
  style(type='text/css').
    body {
      background-color: #DADADA;
    }
    body > .container,
    .container > .grid
    {
      height: 100%;
    }
    .column {
      max-width: 450px;
    }
block content
  .ui.middle.aligned.center.aligned.grid
    .column
      h2.ui.teal.image.header
        .content
          | Livraria
      form.ui.large.form(action=h.adminUrl('login') method='POST')
        .ui.stacked.segment
          .field
            .ui.left.icon.input
              i.user.icon
              input(type='text' name='email' placeholder='E-mail')
          .field
            .ui.left.icon.input
              i.lock.icon
              input(type='password' name='password' placeholder='Senha')
          button.ui.fluid.large.teal.submit.button Login
