extends ../layoutBooks

block subcontent
  h1 Livros
  div.ui.grid
    div.row
      a.ui.positive.button.right.floated(href=h.adminUrl('books/add')) Adicionar livro
    div.row
      table.ui.celled.table
        thead
          tr
            th Titulo
            th Imagem
            th Autor
            th Qtd.
            th Qtd. Disponível
            Th Ações
        tbody
          each book in books
            tr
              td= book.title
              td.center.aligned
                img(src=book.thumbnailUrl width='64px')
              td= book.author.name
              td= book.quantity
              td= book.availableQuantity
              td.center.aligned
                a.ui.icon.button.labeled.right.primary(href=h.adminUrl(`books/${book.id}/edit`))
                  i.edit.icon
                  | Editar
                br
                br
                a.ui.icon.button.labeled.right.red(href=h.adminUrl(`books/${book.id}/remove`))
                  i.trash.icon
                  | Remover
