extends ../layout

block content
  h1= title
  form.ui.form(action=h.adminUrl('checkouts/create') method='POST')
    div.field
      label Livro
      select.ui.dropdown(name='book' required)
        option(selected disabled)
          | Selecione um livro
        each book in books
          option(value=book.id)=book.title
    div.field
      label Membro
      select.ui.dropdown(name='member' required)
        option(selected disabled)
          | Selecione um membro
        each member in members
          option(value=member.id)=member.name
    button.ui.button.primary(type='submit') Salvar