extends ../layoutBooks

block subcontent
  h1 Empréstimos
  div.ui.grid
    div.row
      a.ui.positive.button.right.floated(href=h.adminUrl('checkouts/add')) Novo Empréstimo
    div.row
      table.ui.celled.table
        thead
          tr
            th Livro
            th Membro
            th Data de Entrega
            Th Ações
        tbody
          each checkout in checkouts
            tr
              td= checkout.book.title
              td= checkout.member.name
              td= h.moment(checkout.dueDate).format('DD/MM/YYYY')
              td.center.aligned
                a.ui.icon.button.labeled.right.primary(href=h.adminUrl(`checkins/${checkout.id}`))
                  i.reply.icon
                  | Devolver
