mixin memberForm(member = {})
  - address = member.address || {}
  div.field
    label Nome
    input(type='text' name='name' value=member.name placeholder='Informe o nome do usuário' required)
  div.field
    label E-mail
    input(type='email' name='email' value=member.email placeholder='Informe o e-mail do usuário' required)
  div.field
    label Senha
    input(type='password' name='password' placeholder='Informe a senha do usuário' required=member.id ? false : true)
  div.field
    label Confirmar senha
    input(type='password' name='passwordConfirmation' placeholder='Confirme a senha do usuário' required=member.id ? false : true)
  div.field
    label CEP
    input(type='text' name='address.cep' value=address.cep)
  div.field
    label Logradouro
    input(type='text' name='address.street' value=address.street)
  div.field
    label Número
    input(type='text' name='address.number' value=address.number)
  div.field
    label Bairro
    input(type='text' name='address.district' value=address.district)
  div.field
    label Cidade
    input(type='text' name='address.city' value=address.city)
  div.field
    label Estado
    input(type='text' name='address.state' value=address.state)
  button.ui.button.primary(type='submit') Salvar
