doctype html
html
  head
    title= title
    script(src='https://code.jquery.com/jquery-3.4.1.min.js' integrity='sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=' crossorigin='anonymous')
    link(rel='stylesheet' href='/semantic/semantic.min.css')
    block styles
  body
    div.ui.main.container
      block messages
        if locals.flashes
          - const categories = Object.keys(locals.flashes)
          each category in categories
            .ui.message(class=`${category}`)
              i.close.icon
              ul.list
              each message in flashes[category]
                li= message
      block content
  block scripts
    script(src='/semantic/semantic.min.js')