doctype html
html
  head
    title= title
    script(src='https://code.jquery.com/jquery-3.4.1.min.js' integrity='sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=' crossorigin='anonymous')
    link(rel='stylesheet' href='/semantic/semantic.min.css')
    link(rel='stylesheet' href='/stylesheets/style.css')
  body
    .ui.fixed.inverted.menu
      .ui.container
        a.header.item(href=h.adminUrl())
          img.logo(src='/images/logo.png')
          | Livraria
        a.header.item(href=h.adminUrl('books'))
          | Livros
        a.header.item(href=h.adminUrl('authors'))
          | Autores
        a.header.item(href=h.adminUrl('members'))
          | Membros
        a.header.item(href=h.adminUrl('users'))
          | Usuários
        if loggedUser
          .right.menu
            .ui.simple.dropdown.item
              = loggedUser.email
              i.dropdown.icon
              .menu
                a.item(href=h.adminUrl(`users/${loggedUser.id}/edit`)) Perfil
                a.item(href=h.adminUrl('logout')) Sair
    div.ui.main.container
      block messages
        if locals.flashes
          - const categories = Object.keys(locals.flashes)
          each category in categories
            .ui.message(class=`${category}`)
              i.close.icon
              ul.list
              each message in flashes[category]
                li= message
      block content
  block scripts
    script(src='/semantic/semantic.min.js')