extends layout

block content
  .ui.grid
    .ui.secondary.vertical.menu
      a.item(href=h.adminUrl('books') class=currentPath === h.adminUrl('books') ? 'active' : '')
        | Livros
      a.item(href=h.adminUrl('checkouts') class=currentPath === h.adminUrl('checkouts') ? 'active' : '')
        | Empréstimos
      a.item(href=h.adminUrl('checkins') class=currentPath === h.adminUrl('checkins') ? 'active' : '')
        | Devoluções
    .thirteen.wide.column
      block subcontent