mixin userForm(user = {})
  div.field
    label E-mail
    input(type='email' name='email' value=user.email placeholder='Informe o e-mail do usuário' required)
  div.field
    label Senha
    input(type='password' name='password' placeholder='Informe a senha do usuário' required=user.id ? false : true)
  div.field
    label Confirmar senha
    input(type='password' name='passwordConfirmation' placeholder='Confirme a senha do usuário' required=user.id ? false : true)
  button.ui.button.primary(type='submit') Salvar
