mixin bookForm(authors = [], book = {})
  div.field
    label Titulo
    input(type='text' name='title' value=book.title placeholder='Informe o titulo do livro' required)
  div.field
    label Autor
    select.ui.dropdown(name='author' value=book.author required)
      each author in authors
        option(value=author.id)=author.name
    a(href='/authors/add') Adicionar autor?
  div.field
    label Descrição
    textarea(
      type='text'
      name='shortDescription'
      placeholder='Informe a descrição do livro'
      required
    )=book.shortDescription
  div.field
    label Imagem
    input(type='text' name='thumbnailUrl' value=book.thumbnailUrl placeholder='Informe a url da imagem' required)
  div.field
    label Quantidade
    input(type='number' name='quantity' value=book.quantity placeholder='Informe a quantidade de exemplares' required)
  button.ui.button.primary(type='submit') Salvar
