mixin authorForm(author = {})
  div.field
    label Nome
    input(type='text' name='name' value=author.name placeholder='Informe o nome do autor' required)
  button.ui.button.primary(type='submit') Salvar
