extends ../layout

block content
  h1 Usuários
  div.ui.grid
    div.row
      a.ui.positive.button.right.floated(href='/admin/users/add') Adicionar usuário
    div.row
      table.ui.celled.table
        thead
          tr
            th E-mail
            th Ações
        tbody
          each user in users
            tr
              td= user.email
              td.center.aligned
                a.ui.icon.button.labeled.right.primary(href=h.adminUrl(`users/${user.id}/edit`))
                  i.edit.icon
                  | Editar
                a.ui.icon.button.labeled.right.red(href=h.adminUrl(`users/${user.id}/remove`))
                  i.trash.icon
                  | Remover

