extends ../layout

block content
  h1 Autores
  div.ui.grid
    div.row
      a.ui.positive.button.right.floated(href=h.adminUrl('authors/add')) Adicionar autor
    div.row
      table.ui.celled.table
        thead
          tr
            th Nome
            th Ações
        tbody
          each author in authors
            tr
              td= author.name
              td.center.aligned
                a.ui.icon.button.labeled.right.primary(href=h.adminUrl(`authors/${author.id}/edit`))
                  i.edit.icon
                  | Editar
                a.ui.icon.button.labeled.right.red(href=h.adminUrl(`authors/${author.id}/remove`))
                  i.trash.icon
                  | Remover

