extends ../layout

block content
  h1 Confirmar Devolução
  form.ui.form(action=h.adminUrl('checkins/create') method='POST')
    input(type='hidden' name='checkoutId' value=checkout.id)
    div.field
      label Livro
      input(type='text' name='book' value=checkout.book.title readonly)
    div.field
      label Membro
      input(type='text' name='member' value=checkout.member.name readonly)
    button.ui.button.primary(type='submit') Confirmar