extends ../layoutBooks

block subcontent
  h1 Devoluções
  div.ui.grid
    div.row
      table.ui.celled.table
        thead
          tr
            th Livro
            th Membro
            th Data de retirada
            th Data de devolução
        tbody
          each checkin in checkins
            tr
              td= checkin.book.title
              td= checkin.member.name
              td= h.moment(checkin.createdAt).format('DD/MM/YYYY')
              td= h.moment(checkin.returnedDate).format('DD/MM/YYYY')
